@model GamePlanetarium.Domain.Entities.Statistics.GameStatisticsDataEntity

@{
    ViewBag.Title = "Деталі статистики гри";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div class="container mt-4 mb-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-text">Дата гри: @Model.DateStamp.ToString("d")</h5>
            <h5 class="card-text">Гра @(Model.IsGameEnded ? "" : "не") завершена</h5>
            <h5 class="card-text">Всього правильних відповідей: @Model.QuestionsAnsweredCount</h5>

            <div class="mt-4">
                <h4>Статистика питань в порядку відповідей на них:</h4>
                <ul class="list-group">
                    @foreach (var questionStatistics in Model.QuestionsStatistics.OrderBy(q => q.QuestionOrder))
                    {
                        <li class="list-group-item">
                            <h5>Кількість неправильних відповідей: @questionStatistics.IncorrectAnswersCount</h5>
                            <h5>Текст першої наданої відповіді: </h5>
                            <p>@questionStatistics.FirstAnswerText</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


