@model GamePlanetarium.Domain.Entities.GameData.QuestionEntity[]

@{
    ViewBag.Title = "Питання гри";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
@if ((bool)ViewData["CurrentQuestionsLocalIsUkr"]!)
{
    <h4><a asp-action="QuestionsEng">Переглянути питання англійською мовою</a></h4>
}
else
{
    <h4><a asp-action="QuestionsUkr">Переглянути питання українською мовою</a></h4>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Номер
            </th>
            <th>
                Текст
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var question in Model) {
        <tr>
            <td class="text-center">
                @question.QuestionNumber
            </td>
            <td>
                @TrimQuestionText(question.QuestionText)
            </td>
            <td>
                <a asp-action="DetailsQuestion" asp-route-id="@question.Id">Детальніше</a> |
                <a asp-action="EditQuestion" asp-route-id="@question.Id">Редагувати</a>
            </td>
        </tr>
    }
    </tbody>
    @functions{
        private string TrimQuestionText(string questionText)
        {
            const int textMaxLength = 95;
            if (questionText.Length > textMaxLength)
            {
                questionText = questionText.Substring(0, textMaxLength) + "...";
            }
            return questionText;
        }
    }
</table>
